<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cleanchina"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.dennytech.common.app.CLApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CC" >
        <activity
            android:name="com.cleanchina.loading.LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="home"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="home"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.meeting.MeetingActivity"
            android:label="meeting"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="meeting"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.meeting.MeetingTabActivity"
            android:label="meetingtab"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="meetingtab"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.meeting.MeetingDetailActivity"
            android:label="detail"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="detail"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.register.RegisterActivity"
            android:label="register"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="register"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.meeting.ImageDataActivity"
            android:label="imagedata"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="imagedata"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.meeting.TextInfoActivity"
            android:label="textinfo"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="textinfo"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.meeting.MapActivity"
            android:label="map"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="map"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.meeting.CompanyDetailActivity"
            android:label="companydetail"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="companydetail"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.ebook.EbookActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ebookdetail"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.ebook.EbookListActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ebooklist"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.news.NewsListActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="newslist"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.news.NewsDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="newsdetail"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.weibo.WeiboListActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="weibolist"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.basic.WebActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="web"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.reward.RewardCompanyListActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="rewardcompanys"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.forum.ForumDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="forumdetail"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.forum.ForumTabActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="forumtab"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cleanchina.loading.AdvertiseActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="advertise"
                    android:scheme="cleanchina" />
            </intent-filter>
        </activity>
    </application>

</manifest>